@model ProyectoAula4MVC.Models.ViewModels.EstadisticasViewModel
@{
    ViewBag.Title = "Estadisticas";
}

<main>
    <h1>Resultados de estadisticas</h1>
    <h4>1: Lista de ideas de negocio con mayor rentabilidad</h4>
    <table class="table">
        <thead>
            <tr>

                <th>Nombre</th>
                <th>Valor inversion</th>
                <th>Total ingresos</th>
                <th>Ganacias</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var idea in Model.ideasMayorRentabilidad)
            {
                <tr>

                    <td>@idea.Nombre</td>
                    <td>@idea.Valor_Inversion</td>
                    <td>@idea.Total_Ingresos</td>
                    <td>@(@idea.Total_Ingresos - idea.Valor_Inversion) </td>

                </tr>
            }

        </tbody>
    </table>
    <br>
    <h4>2: Lista de ideas que impactan en mas de 3 departamentos.</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Departamentos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var idea in Model.ideasMas3Deptos)
            {
                <tr>
                    <td>@idea.Idea.Nombre</td>
                    <td>
                        <ul class="list-group">
                            @foreach (var depto in idea.Departamentos)
                            {
                                <li>@depto.Departamentos.Nombre</li>
                            }
                        </ul>
                    </td>
                    <td>

                </tr>
            }

        </tbody>
    </table>
    <h4>3: Lista de ideas de negocio con impacto en desarrollo sostenible</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Impacto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var idea in Model.ideasUsanDesarrolloSostenible)
            {
                <tr>
                    <td>@idea.Nombre</td>
                    <td>@idea.Impactos.Nombre</td>

                </tr>
            }

        </tbody>
    </table>
    <br>
    <h4>4: Lista de ideas con mayor rentabilidad que el promedio total de las ideas</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Valor inversion</th>
                <th>Total ingresos</th>
                <th>Ganacias</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var idea in Model.ideasRentabilidadMayorPromedio)
            {
                <tr>
                    <td>@idea.Nombre</td>
                    <td>@idea.Valor_Inversion</td>
                    <td>@idea.Total_Ingresos</td>
                    <td>@(@idea.Total_Ingresos - idea.Valor_Inversion) </td>

                </tr>
            }

        </tbody>
    </table>
    <br>
    <h4>5: Lista de ideas de negocio con impacto en Territorios inteligentes o Transicion energetica</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Impacto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var idea in Model.ideasUsanTerritoriosOTransicion)
            {
                <tr>
                    <td>@idea.Nombre</td>
                    <td>@idea.Impactos.Nombre</td>
                </tr>
            }

        </tbody>
    </table>
    <br>
    <h4>6: Idea de negocio que impacta mayor numero de departamentos </h4>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Departamentos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.ideaMayorDeptos.Idea.Nombre</td>
                <td>
                    <ul class="list-group">
                        @foreach (var depto in Model.ideaMayorDeptos.Departamentos)
                        {
                            <li>@depto.Departamentos.Nombre</li>
                        }
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <h4>7: Idea de negocio con mayor valor de inversion en infraestructura </h4>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Valor de inversion</th>
                <th>Valor de inversion en infraestructura</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.ideaMayorInversionInfraestructura.Nombre</td>
                <td>@Model.ideaMayorInversionInfraestructura.Valor_Inversion</td>
                <td>@Model.ideaMayorInversionInfraestructura.Valor_Inversion_Infraestructura </td>
            </tr>
        </tbody>
    </table>
    <br>
    <h4>8: Idea de negocio con mayor total de ingresos </h4>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Total de ingresos</th>
                <th>Ganancias</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.ideaMayorTotalIngresos.Nombre</td>
                <td>@Model.ideaMayorTotalIngresos.Total_Ingresos </td>
                <td>@(@Model.ideaMayorTotalIngresos.Total_Ingresos - Model.ideaMayorTotalIngresos.Valor_Inversion) </td>
            </tr>
        </tbody>
    </table>
    <br>
    <h4>9: La suma total de ingresos es: @Model.sumaTotalIngresos </h4>
    <br>
    <h4>10: La suma total de inversiones es: @Model.sumaTotalInversiones </h4>
    <br>
    <h4>11: El total de ideas de negocio que usan la herramienta Inteligencia artificial: @Model.totalIdeasUsanIA </h4>




</main>
